/********************************
Header Fixo
********************************/

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  top: 0;
  // padding: 15px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1vw;
  display: flex;
  font-weight: 200;
  cursor: pointer;
}



.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  position: fixed;
  top: 0;
  margin: 0px auto;
  right: 0;
  left: 0;
  .menu li a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
  }

  .menu li a:focus {
    font-weight: bold;
  }
}



.navbar-inverse{
  background: rgba(0, 214, 70, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom-style: none;
  border-bottom-width: none;
  transition: background 0.3s ease-out;

  .image-logo {
    width: 9vw;
    height: 9vw;
    border-radius: 2rem;
    margin: 1rem 3rem;
  }
  .menu li a:hover {
    border-bottom-style: none;
    border-bottom-width: none;
    font-weight: bold;
  }
  .menu li a:focus {
    font-weight: bold;
  }
}

.navbar-header {
  align-items: center;
  display: flex;
}

.header .menu {
  padding: 0 20px;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 20px 0px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  display: flex;
  padding: 10px 5px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

mat-icon {
  padding: 0 5px;
}

.btn {
  font-size: 0.7rem;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  will-change: transform;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 5px 5px 0 0;
}

.header .menu {
  display: flex;
  align-items: center;
}

.image-logo {
  width: 5vw;
  height: 5vw;
  border-radius: 50px;
  margin: 15px;
}

/* 48em = 768px */

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*******************************************
Ajuste de tela para Mobiles (Portrait)
*******************************************/

@media (min-width: 320px) and (max-width: 600px) {
  .header li a {
    padding: 5px;
    font-weight: 400;
    font-size: 2.5vw;
  }
  nav {
    border-bottom-style: none !important;
    margin: 0px;
    width: 35%;
  }
  .navbar-header {
    display: none;
  }
  .navbar-container { 
    background: none;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
}
