<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
           <a href="https://github.com/BrunnoBorges">Brunno Borges</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="gitHub" href="https://github.com/BrunnoBorges"><fa-icon [icon]="faGithub" class="icon"></fa-icon></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/obrunnodiego/"><fa-icon [icon]="faLinkedin" class="icon"></fa-icon></a></li>   
                <li><a class="whatzap" href="https://api.whatsapp.com/send?phone=+5561991500959"><fa-icon [icon]="faWhatsapp" class="icon"></fa-icon></a></li>
                <li><a class="instagram" href="https://www.instagram.com/obrunnodiego/"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>