
<section class="paraImage2">
  <div class="fundo">
      <h2><label>03</label> Minhas experiências</h2>
    <div class="timeline"> 
      <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
          <fa-icon [icon]="faBriefcase" class="lni-cake"></fa-icon>
        </div>
        <div class="timeline__event__date">
          <p>cargo</p>
          <p>atual</p>
        </div>
        <div class="timeline__event__content ">
          <div class="timeline__event__title">
            Instituto Germinare
          </div>
          <div class="timeline__event__description">
            <p>Analista de Sistema / Ux Designer</p>
            <div class="box-text">
              <label>Desenv. plataforma Instituto Germinare - <span>ANGULAR IO</span></label>
              <label>Desenv. APP Instituto Germinare - <span>REACT NATIVE</span></label>
              <label>Prototipação de Layout para desenvolvimento - <span>FIGMA</span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <fa-icon [icon]="faBriefcase" class="lni-cake"></fa-icon>
        </div>
        <div class="timeline__event__date">
          <p>05-09-2019</p>
          <p>até</p>
          <p>31-01-2021</p>   
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Original App
          </div>
          <div class="timeline__event__description">
            <p>Analista de Sistema / Ux Designer</p>
            <div class="box-text">
              <label>Desenv. Conta que Rende PF - <span>ANGULAR IO</span></label>
              <label>Desenv. Conta que Rende PJ <span>ANGULAR IO</span></label>
              <label>Prototipação de Layout tombamento SalesForce - <span>Sketch</span></label>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <fa-icon [icon]="faBriefcase" class="lni-cake"></fa-icon>
        </div>
        <div class="timeline__event__date">
          <p>25-03-2019</p>
          <p>até</p>
          <p>01-09-2019</p>   
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Engesoftware Tecnologia S.A
          </div>
          <div class="timeline__event__description">
            <p>Analista de Sistema Nv. 02</p>
            <div class="box-text">
              <label>Desenv. APP Zápido (Banco do Brasil) - <span>REACT NATIVE</span></label>
              <label>Desenv. Plataforma Zápido (Banco do Brasil) - <span>ANGULAR IO</span></label>
              <label>Prototipação de Layout Zápido (Banco do Brasil) - <span>Sketch</span></label>
            </div>
          </div>  
        </div>
      </div>

      <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
          <fa-icon [icon]="faBriefcase" class="lni-cake"></fa-icon>
        </div>
        <div class="timeline__event__date">
          <p>16-10-2017</p>
          <p>até</p>
          <p>04-04-2019</p>     
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
              BS Serviço e Tecnologia
          </div>
          <div class="timeline__event__description">
            <p>Analista de Sistema Nv. A</p>
            <div class="box-text">
              <label>Desenv. APP Zápido (Banco do Brasil) - <span>REACT NATIVE</span></label>
              <label>Desenv. Plataforma Zápido (Banco do Brasil) - <span>ANGULAR IO</span></label>
              <label>Prototipação de Layout Zápido (Banco do Brasil) - <span>Sketch</span></label>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>
