<section class="exemplo">
  <div class="fundo">
    <h2><label>02</label> Portifólio</h2>
    <div class="work">
        <a href="https://quiz-cod.brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip="CLIQUE NA IMAGEM PARA JOGAR QUIZ">
          <img src="../../assets/img/cod.png"/>
        </a>
        <a href="https://bru-flix.brunnoborges.vercel.app/" target="_blank" placement="bottom"ngbTooltip="CLIQUE NA IMAGEM PARA RIR COM COMEDIFLIX">
          <img src="../../assets/img/comediflix.png"/>
        </a>
        <a href="https://loading-speed-marker.brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip="CLIQUE NA IMAGEM PARA VISUALIZAR SPINNER">
          <img src="../../assets/img/spinner.png"/>
        </a>
        <a href="https://stepper-progress-brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip=" CLIQUE NA IMAGEM PARA VISUALIZAR STEPPER PROGRESS">
          <img src="../../assets/img/stepper_progress.png"/>
        </a>
        <a href="https://seufuturocomecaaqui.com.br/" target="_blank" placement="bottom" ngbTooltip=" CLIQUE NA IMAGEM PARA VISUALIZAR LANDING PAGE DO INSTITUTO">
          <img src="../../assets/img/germinare_tec.png"/>
        </a>
        <a href="https://pokedex-brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip=" CLIQUE NA IMAGEM PARA VISUALIZAR MINHA POKEDEX">
          <img src="../../assets/img/pokedex.png"/>
        </a>
    </div>
  </div>
</section>
<!--https://pokedex-brunnoborges.vercel.app/  -->