<section class="exemplo">
  <div class="fundo">
    <h2><label>02</label> Portifólio</h2>
    <div class="work">
        <a href="https://quiz-cod.brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip="QUIZ COD">
          <img src="../../assets/img/desktopTwo.jpg"/>
        </a>
        <a href="https://bru-flix.brunnoborges.vercel.app/" target="_blank" placement="bottom"ngbTooltip="COMEDIFLIX">
          <img src="../../assets/img/desktop.jpg"/>
        </a>
        <a href="https://loading-speed-marker.brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip="SPINNER">
          <img src="../../assets/img/desktopOne.jpg"/>
        </a>
        <a href="https://stepper-progress-brunnoborges.vercel.app/" target="_blank" placement="bottom" ngbTooltip="STEPPER PROGRESS">
          <img src="../../assets/img/mac2.jpg"/>
      </a>
    </div>
  </div>
</section>
