<section class="paraImage1">
  <div class="fundo">
        <h2><label>01</label> Meus conhecimentos</h2>
        <div class="container-card">
            <div class="card">
                <label>Front End</label>
                <div class="card-body" *ngFor="let item of frontend">
                    <div class="progressBar">
                        <span>{{item.name}}</span>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="item.value" [striped]="true"></ngb-progressbar></p>
                    </div>
                </div>
            </div>


            <div class="card">
                    <label>Framework FrontEnd</label>
                <div class="card-body" *ngFor="let item of framework_frontend">
                    <div class="progressBar">
                        <span>{{item.name}}</span>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="item.value" [striped]="true"></ngb-progressbar></p>
                    </div>
                </div>
            </div>
      
      
            <div class="card">
                <label>UX</label>
                <div class="card-body" *ngFor="let item of ux_ui_designer">
                    <div class="progressBar">
                        <span>{{item.name}}</span>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="item.value" [striped]="true"></ngb-progressbar></p>
                    </div>
                </div>
            </div>


            <div class="card">
                <label>Ferramentas De UX</label>
                <div class="card-body">
                    <div class="progressBar" *ngFor="let item of ferramentas_ux_ui">
                        <span>{{item.name}}</span>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="item.value" [striped]="true"></ngb-progressbar></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <label>Extras</label>
                <div class="card-body" *ngFor="let item of conhecimento_extra">
                    <div class="progressBar">
                        <span>{{item.name}}</span>
                        <p><ngb-progressbar [showValue]="true" type="success" [value]="item.value" [striped]="true"></ngb-progressbar></p>
                    </div>
                </div>
            </div>
        </div>

      
    

  </div>
</section>
