/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 600px) {
  .paraImage {
    background-attachment: scroll;
  }
  .paraImage1 {
    background-attachment: scroll;
  }
}

.paraImage1 .fundo {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.paraImage1 {
  background: url("../../assets/img/work.jpg");
  height: 70vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 12rem;
    background: rgb(52, 60, 79, 0.4);
    margin: 0 1rem;
    padding: 1rem;
}

.card-body {
    padding: 0;
}

.progressBar {
  margin: auto;
}

.fundo {
  h2 {
    font-size: 3rem;
    letter-spacing: 1rem;
    padding-top: 20rem;
    label {
      color: #00d646;
      font-size: 3rem;
      letter-spacing: 0;
    }
  }

  label {
      color: #fff;
  }
  span {
      font-size: 0.6rem;
      color: #fff;
  }
}


@media (min-width: 320px) and (max-width: 600px) {

  .paraImage1 {
    height: auto;
    .fundo {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: relative;
      h2 {
        font-size: 1rem;
        letter-spacing: 0.5rem;
        padding-top: 25rem;
        label {
          font-size: 1rem;
        }
      }
      .card {
        width: 9rem;
        margin: 0.8rem;
        label {
          font-size: 0.85rem;
        }
        span {
          font-size: 0.5rem;
        }
      }
      .progressBar {
        p {
          margin: 0.5rem 0;
        }
      }
    }
  }
}