<section class="exemplo">    
    <div class="fundo"> 
        <h1>Eu Sou <label>Brunno Borges </label><span>.</span></h1> 
        <p> <span>UX/UI DESIGNER</span> <br /> <span>DESENVOLVEDOR WEB FRONT END</span></p>
        <div class="container">
                <div class="circulo lime"><span> BB </span></div>
            <p> My name is Brunno Borges, from São Paulo - Brazil(🇧🇷). 
                I work as Ux Design / front-end developer since 2017, 
                currently developing this function at bank Original, in the project Germinare Institute. 
                In my free time, i usually courses focused on development Front-End (👨‍💻), i like to play (and watch) football (⚽️), 
                watch movies (🎞️) and series (📺), read books (📚), 
                listen to music (🎵) and eventually like to philosophize about life with a beer (🍺).
            </p>
        </div>
    </div>
</section>  