<section class="exemplo">    
    <div class="fundo"> 
        <h1>Eu Sou <label>Brunno Borges </label><span>.</span></h1> 
        <p> <span>UX/UI DESIGNER</span> <br /> <span>DESENVOLVEDOR WEB FRONT END</span></p>
        <div class="container">
                <div class="circulo lime"><span> BB </span></div>
            <p> Meu nome é Brunno Borges, sou de São Paulo - Brasil (🇧🇷).
                Trabalho como Ux Design / Desenvolvedor Front-End desde 2017,
                atualmente ocupo essa função no banco Original, no projeto Instituto Germinare.
                No meu tempo livre, costumo fazer cursos voltados ao desenvolvimento Front-End (👨‍💻), gosto de jogar e assistir futebol (⚽️), 
                sou fascinado pelo mundo dos games (🎮), gosto de assistir um bom filme (🎞️) e uma boa série (📺) e de ouvir uma boa música (🎵).
            </p>
        </div>
    </div>
</section>  